<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE{% endblock %}</title>
    <link rel="stylesheet" href="/static/test.css" type="text/css">
 
</head>
<body>
    {% block content %}CONTENT{% endblock %}


        <!-- flashed messages -->

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <ul class="flashes">
              <li>{{message}}</li>
          </ul>
          {% endfor %}
          {% endif %}
          {% endwith %}

 </body>
</html>
