{% extends 'base.html' %}

{% block title %}Madlibs Game{% endblock %}

{% block content%}
    <h1>Madlibs!</h1>
    <form action="/madlib" method="POST">
        <label>Type the name of any person: <input type="text" name="name"></label><br>
        Pick a color, any color: 
        <select name="color">
            <label><option value="pink">Pink</label>
            <label><option value="purple">Purple</label>
            <label><option value="red">Red</label>
            <label><option value="blue">Blue</label>
            </select><br>
        <label>Name a thing: <input type="text" name="noun"></label><br>
        Select some adjectives: <br>
        <label><input type="checkbox" name="adjectives" value="fun">fun</label><br>
        <label><input type="checkbox" name="adjectives" value="silly">silly</label><br>
        <label><input type="checkbox" name="adjectives" value="pythonic">pythonic</label><br>
        <label><input type="checkbox" name="adjectives" value="poopy">poopie</label><br>
        <input type="submit">
        <input type="hidden" name="person" value="{{ person }}">
    </form>

{% endblock %}